body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.monday-app {
  height: 100vh;
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background: white;
}

.monday-app-content {
  border: 1px solid #e1e1e1;
  padding: 16px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
