*/**/.DS_STORE
*/**/node_modules
apps/*/build
apps/*/.idea

# Logs
*/**/logs
*/**/*.log
*/**/npm-debug.log*
*/**/yarn-debug.log*
*/**/yarn-error.log*

# monday code tarballs
*/**/code.tar.gz

.DS_Store
apps/github-node/database.sqlite3
apps/slack-node/database.sqlite3
apps/github-monday-code/.env
apps/slack-node/.env
apps/quickstart-react/build.zip
