.container {
  display: flex;
  flex: 1;
  justify-content: center;

  .content {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;

    .logo {
      width: 167px;
      height: 42px;
      margin-bottom: 10px;
    }

    .row {
      max-width: 1100px;
      display: flex;
      flex-direction: row;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      margin-right: 100px;

      .title {
        font-weight: 900;
        font-size: 63px;
      }
      
      .subTitle {
        margin-top: 30px;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
      }
    }
  }
}
