.App {
  height: 100%;

  .app-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      flex: 0 0 40px;
      border-bottom: 1px solid #e1e1e1;
    }

    .content-wrapper {
      flex: 1;
      display: flex;
      min-height: 0px;
      overflow: hidden;

      .menu {
        border-right: 1px solid #e1e1e1;
        flex: 0 0 200px;
      }

      .content {
        flex: 1;
        overflow: auto;
      }
    }
  }
}
