body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.root {
  display: flex;
  flex: 1;
  height: 100vh;
}

a {
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.switch-wrapper {
  display: flex;
  flex: 1;
}
.feature-container {
  max-height: 100%;
  width: 100vw;
  overflow: auto;
  display: grid;
  box-sizing: border-box;
  padding: 20px;
  grid-gap: 25px;
  box-sizing: border-box;
  grid-template-areas:
    "header playground playground playground playground"
    "instructions playground playground playground playground"
    "instructions snippet snippet snippet snippet"
    "instructions snippet snippet snippet snippet"
    "instructions snippet snippet snippet snippet"
    "instructions snippet snippet snippet snippet";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.feature-container .working-with-the-board-item {
  background-color: rgb(244, 245, 247);
  height: 36px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 4px;
  width: 100%;
  justify-content: space-between;

  & span {
    line-height: 24px;
    font-weight: 400;
    color: #323338;
    font-size: 12px;
    margin-left: 13px;
    max-width: 67%;
  }

  &:hover {
    background-color: rgb(227, 230, 236);
  }

  & > button {
    animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    z-index: 3;
    font-size: 12px;
    &:hover {
      background-color: white;
    }
  }
}

.rect {
  position: absolute;
  width: 8px;
  height: 100%;
}

.empty-board-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .empty-board-image {
    width: 400px;
  }

  .chooseBoardContainer {
    position: absolute;
    right: 40px;
    top: 0px;
    display: flex;
    flex: row;
    margin-top: 30px;

    .pointer-image {
      width: 64px;
      height: 64px;
      margin-bottom: 30px;
    }
  }
}

.playground-header {
  display: contents;
  margin: 0;
  font-weight: 600;
  color: #384248;
  font-size: 24px;
  line-height: 30px;
}

.playground {
  grid-area: playground;
  margin-right: 10px;
}