.tabsWrapper {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  border: solid 1px var(--layout-border-color);
  overflow-x: scroll;
}

.codeDisplayBlock {
  max-width: 800px;
  max-height: 80vh;
  font-family: "Fira Code", "Courier New", Courier, monospace;
  overflow: scroll;
}

.tabPanelContainer {
  padding: 10px;
  // border-style: solid;
  // border-color:
  max-width: 550px;
  max-height: 80vh;
}

.tabWrapper {
  padding-bottom: 8px;
  padding-left: 0px;
}

.tabListWrapper > ul {
  padding-inline-start: 0px;
}
