@import "../../styles/variables.scss";

.working-with-the-board-items {
  box-sizing: border-box;
  overflow: auto;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

@media (max-width: $breakpoint-narrow) {
  .working-with-the-board-items {
    overflow-y: scroll;
    height: max-content;
  }
}