.menuContainer {
  display: flex;
  margin: 0;
  padding: 24px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  max-width: 1100px;
  margin: 0 auto 0 auto;
  position: relative;

  .heroContainer {
    background-color: #595ad4;
    color: white;
    border-radius: 8px;
    display: flex;
    min-height: 258px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .heroImage {
      height: 258px;
      width: auto;
      margin-right: 40px;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      padding-top: 16px;
      padding-bottom: 16px;
      justify-content: center;
      .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
      }

      .subTitle {
        margin-top: 12px;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .sectionContainer {
    // margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    
    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: black;
    }

    .subItemsContainer {
      display: flex;
      flex-wrap: wrap;
      margin-top: 32px;
      margin-bottom: -32px;
    }
  }
}
