.stackContainer {
  width: 300px;
  height: 150px;
  margin: 15px;
  transform-style: flat;
  
}

.stackContainer > div {
  position: absolute;
  border-radius: 30px;
  width: 300px;
  height: 150px;
  background: grey;
  align-items: center;
  display: flex;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
  will-change: transform;
}

.subItemTitle {
  position: absolute;
  font-weight: 600;
  font-size: 30px;
  color: white;
  top: 20px;
  left: 20px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
