body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: top;
  justify-content: center;
}

textarea {
  width: 100%;
  height: 98%;
}