body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monday-app {
  height: 100vh;
  width: 100vw;

  .description {
    margin:15px;
  }

  .notebook {
    margin:15px;
    textarea {
      width:70vw;
      height:50vh;
      padding:5px;
      font-size:1.1vw;
      background-color:yellow;
    }


    .sticky {
      right: 0;
      z-index: 150;
      transform: rotate(1deg);
      width: 70vw;
      min-height: 150px;
      margin: -10px 10px 10px;
      padding: 10px;
      font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
      font-size: 14px;
      color: #000;
      background: rgba(255, 255, 51, 0.8);
      box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
    }
    .sticky:before, .sticky:after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      right: 0;
    }
    .sticky:before {
      border-top: solid 8px #fff;
      border-right: solid 8px #fff;
      border-left: solid 8px transparent;
      border-bottom: solid 8px transparent;
    }
    .sticky:after {
      border-bottom: solid 8px #dddd33;
      border-left: solid 8px #dddd33;
      border-right: solid 8px transparent;
      border-top: solid 8px transparent;
    }
  }
}
