@import "../../styles/animations.scss";

.get-updates-items-container {
  .overlay {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    animation: fadein 750ms;
    z-index: 3;

    
    .overlay-header {
      margin-right: 32px;
      margin-top: 16px;
    }
    
    & > .popup {
      background: #fff;
      border-radius: 5px;
      min-width: 200px;
      max-width: 80%;
      max-height: 80%;
      position: relative;
      transition: all 5s ease-in-out;

      & > svg {
        position: absolute;
        right: 16px;
        cursor: pointer;
        top: 10px;
      }
    }
  }
}
