@import "../../../styles/animations.scss";
@import "~monday-ui-style/dist/index.min.css";

.action-header-container {
  grid-area: header;
  color: var(--primary-text-color);
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--ui-background-color);
  border: 1px solid var(--layout-border-color);
  border-radius: var(--border-radius-small);
  .back-arrow {
    display: flex;
  }
  .headers {
    display: flex;
    flex-direction: column;
  }
  .main-title {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  svg {
    cursor: pointer;
  }
  & > svg {
    position: absolute;
    right: 10px;
    color: white;
    z-index: 5;
  }
  & > div.headers {
    position: relative;
    box-sizing: border-box;
    & > h2.main-title {
      margin-top: 14px;
      margin-bottom: 0;
      & > svg:nth-child(1) {
        margin-right: 10px;
        position: absolute;
        left: 16px;
      }
      & > svg:nth-child(2) {
        margin-left: 20px;
      }
    }

    & > h5 {
      margin-top: 6px;
    }
  }

  & > .dialog-content-container {
    width: fit-content;
    max-height: 125px;
    overflow: auto;
    margin-left: 20px;
    padding: 10px;
    margin-left: 20px;
    animation: fadein 500ms;
  }
}
