.user-component {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  align-items: center;
  margin-bottom: 10px;

  .avatar {
    flex: 0 0 50px;
    .photo {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    .name {
      font-weight: 700;
    }
    .title {
      font-weight: 400;
    }
  }
}
