body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.monday-app {
  height: 100vh;
  width: 100vw;

  .description {
    margin:15px;
  }

  .items {
    margin:15px;
    
    .item {
      padding:10px;
      display:inline-block;
      margin:5px;
      background-color: #e7e7e7; 
      color: black;
    }
  }
}
